.sidebar {
  width: 240px;
  background-color: #202020;
  padding: 20px;
  height: 100vh;
  overflow-y: auto;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  padding: 10px 0;
  cursor: pointer;
  color: white;
  display: flex; /* Flexbox to align icon and text */
  align-items: center; /* Vertically center the items */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar-menu li i {
  margin-right: 15px; /* Increased space between icon and text */
  font-size: 18px; /* Icon size */
}

.sidebar-menu li.active {
  background-color: #383838;
}

.sidebar-menu li:hover {
  background-color: white;
  color: black;
}

.subscriptions-title {
  margin-top: 20px;
  color: #aaa;
}

hr {
  border: 1px solid #333;
  margin: 15px 0;
}
