.video-row {
  display: flex;
  overflow-x: auto;
  gap: 15px;
  padding: 20px;
}

.video-card {
  min-width: 260px;
  max-width: 260px;
  background-color: #282828;
  padding: 8px;
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;
}

.thumbnail {
  width: 100%;
  border-radius: 8px;
}

.video-title {
  margin: 8px 0 4px;
  font-size: 14px;
  color: white;
}

.channel-name {
  color: #aaa;
  font-size: 12px;
}

.video-info {
  color: #aaa;
  font-size: 12px;
}
