body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-box {
  background-color: #e0e7ed;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #555;
}

.register-link {
  margin-top: 15px;
  font-size: 14px;
}

.register-link a {
  color: #1abc9c;
  text-decoration: none;
}

.remember-me {
  margin-top: 15px;
  text-align: left;
}

.remember-me label {
  margin-left: 5px;
}
